<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917970836965-4o8l28ca6bllnnivnbf6f0ea91jhnepu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917970836965-4o8l28ca6bllnnivnbf6f0ea91jhnepu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>917970836965-5ugsha620mkanis717jjsj85l3uqvg6d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaCZSBn3NwgkX7LFUdh0PB-wX0EPdBSHY</string>
	<key>GCM_SENDER_ID</key>
	<string>917970836965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.sataware.qrknow</string>
	<key>PROJECT_ID</key>
	<string>qrknow-350ff</string>
	<key>STORAGE_BUCKET</key>
	<string>qrknow-350ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917970836965:ios:23ae22535229ad30faa30c</string>
</dict>
</plist>